extends ../layouts/base
include ../mixins/sermon-filter

block content

  .container-fluid
    .row
      h3
        a(href='/') DOWNLOADS : Sermons
    .row
      //- .col-md-2
      //-   +sermon-filter(data, filters)
      .col-md
        each sermon, index in sermons
          if (index % 4 == 0)
            #sermonP.row
              each sermon, index2 in sermons.slice(index, index+4)
                #result.col-md-3
                  .panel.panel-default
                    .panel-body.text-center
                      a(href='/sermon/'+sermon.slug)
                        if sermon.presentation.exists
                          img.img-responsive.center-block(src=sermon._.presentation.fit(250, 163).replace('.pdf', '.png'))
                        else
                          img.img-responsive.center-block(src='/images/nopdf.gif')
                        .caption
                          h4
                            =sermon.title
                    .panel-footer.small.text-center
                      ul.list-inline
                        li
                          =sermon._.date.format('DD/MM/YYYY')
                        if sermon.series
                          li
                            a(href='/series/'+ sermon.series.slug)
                              =sermon.series.name
                        li
                          a(href='/speakers/'+ sermon.speaker.key)
                            =sermon.speaker.name.full
                        if sermon.bibleRef
                          li
                            =sermon.bibleRef
