extends ../layouts/base
include ../mixins/sermon-filter

block content
    h3 
        a(href='/') Sermons

    if sermons
        .container
            .row
                +sermon-filter(data, filters)
                .col-md-9
                    each val, index in sermons
                        if (index % 3 == 0)
                            .row
                                each sermon, index2 in sermons.slice(index, index+3)
                                    .col-md-4
                                        if sermon.presentation.exists
                                            img.img-responsive(src=sermon._.presentation.fit(200, 113).replace('.pdf', '.png'))
                                        else
                                            img.img-responsive(src='http://sermons.mottramec.co.uk/nopdf.gif')
                                        .caption
                                            a(href='/sermon/'+sermon.slug)
                                                h4
                                                    =sermon.title
