mixin footer
  #footer
    .container
      p.text-muted
        | Mottram Evangelical Church is a Company Limited by Guarantee (number 6856759) and a Registered Charity (number 1129418)
      p.text-muted
        | Copyright
        a(href='http://www.mottramec.co.uk/copywrite.html') 
          | &copy; 2018 Mottram Evangelical Church 
