mixin nav
  #menubox
      ul#navmenu-h
          li
            a(href='http://www.mottramec.co.uk/index.htm') Home
          li
            a(href='http://www.mottramec.co.uk/a-intro.htm') About us
            ul
              li
                a(href='http://www.mottramec.co.uk/a-history.htm') History
              li
                a(href='http://www.mottramec.co.uk/a-leaders.htm') Leaders
              li
                a(href='http://www.mottramec.co.uk/a-believe.htm') What we Believe
              li
                a(href='http://www.mottramec.co.uk/a-vision.htm') Values and Vision
              li
                a(href='http://www.mottramec.co.uk/a-safe.htm') Safeguarding policy
          li
            a(href='http://www.mottramec.co.uk/activities.htm') Activities
            ul
              li
                a(href='http://www.mottramec.co.uk/sunday_morning.html') Sunday Morning
              li
                a(href='http://www.mottramec.co.uk/christianityexplored.php') Christianity Explored
              li
                a(href='http://www.mottramec.co.uk/ac-ypg.htm') Children & Youth
              li
                a(href='http://www.mottramec.co.uk/a-ish.html') 18 - 25 (ISH)
              li
                a(href='http://www.mottramec.co.uk/ac-smallgrp.htm') Small Groups
              li
                a(href='http://www.mottramec.co.uk/ac-clubt.htm') Tuesday Café
              li
                a(href='http://www.mottramec.co.uk/ac-clubw.htm') Walking
              li
                a(href='http://www.mottramec.co.uk/ac-cpark.htm') Annual Events
              li
                a(href='http://www.mottramec.co.uk/ac-whenwherewho.html') When, Where and Who?
          li
            a(href='http://www.mottramec.co.uk/diary.php') Diary
          li
            a(href='http://www.mottramec.co.uk/downloads.php') Downloads
            ul
              li
                a(href='http://sermons.mottramec.co.uk/index.php') Sermons
              li
                a(href='http://insight.mottramec.co.uk/index.php') Monthly Magazine
              li
                a(href='http://pdf.mottramec.co.uk/goodnews.php') Good News Magazine
              li
                a(href='http://songs.mottramec.co.uk/index.php') Worship Songs
          li
            a(href='http://www.mottramec.co.uk/findus.htm') Contact
          li
            a(href='http://www.mottramec.co.uk/links.htm') Links
          li
            a(href='http://www.mottramec.co.uk/Mission.htm') Missions
