mixin sermon-filter(data, filter)
  h4 Filter by
  if filter.active
    h5.text-muted
      a(href='/') Clear Filter

  div.col-sm.wrapper-dropdown-2 Series
      ul.dropdown
        each series in serieses
          li: a(href='/series/'+ series.slug, class=filter.active && filter.active === series.slug ? 'active' : false)
            i.fa.fa-bars.fa-fw
            = series.name
            //- abbr(title=series.sermonCount+' sermons in '+series.name)
            //-   span.count=series.sermonCount

  div.col-sm.wrapper-dropdown-2 Speaker
      ul.dropdown
        each speaker in speakers
          li: a(href='/speakers/' + speaker.key, class=filter.active && filter.active === speaker.key ? 'active' : false)
            i.fa.fa-user.fa-fw
            = speaker.name.full

  div.col-sm.wrapper-dropdown-2 Books
      ul.dropdown
        each name, book in data.books
          li: a(href='/books/' + book, class=filter.active && filter.active === book ? 'active' : false)
            i.fa.fa-book.fa-fw
            = name
