mixin sermon-filter(data, filter)
  h4 Filter by
  if filter.active
    h5.text-muted
      a(href='/') Clear Filter

  .col-sm
    .dropdown
      a#series-filter.btn.btn-secondary.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Series
        .dropdown-menu(aria-labelledby='series-filter')
          each series in serieses
            a.dropdown-item(href='/series/'+ series.slug, class={active: filter.active === series.slug})
              i.fa.fa-bars.fa-fw
              = series.name
              //- abbr(title=series.sermonCount+' sermons in '+series.name)
              //-   span.count=series.sermonCount

  .col-sm
    .dropdown
      a#speaker-filter.btn.btn-secondary.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Speaker
        .dropdown-menu(aria-labelledby='speaker-filter')
          each speaker in speakers
            a.dropdown-item(href='/speakers/'+ speaker.key, class={active: filter.active === speaker.key})
              i.fa.fa-user.fa-fw
              = speaker.name.full

  .col-sm
    .dropdown
      a#book-filter.btn.btn-secondary.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Books
        .dropdown-menu(aria-labelledby='book-filter')
          each name, book in data.books
            a.dropdown-item(href='/books/'+ book, class={active: filter.active === book})
              i.fa.fa-book.fa-fw
              = name
