mixin sermon-filter(filters)
	if filters
		h5.text-muted Filter by Speaker
		//- ul.list-unstyled.tags-list
		//- 	li: a(href='/', class=!filters.active ? 'active' : false) All
		//- 	each speaker in filters.speakers
		//- 		li: a(href='/speakers/' + speaker.slug, class=filter.active && filter.active.slug == speaker.slug ? 'active' : false).list-group-item= speaker.name
